@font-face {
    font-family: $ff-Helvetica-UltLt;
    src: url("/fonts/HelveticaNeueLTCom-UltLt.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaNeueLTCom-UltLt.woff") format("woff"),
    url("/fonts/HelveticaNeueLTCom-UltLt.ttf") format("truetype"),
    url("/fonts/HelveticaNeueLTCom-UltLt.svg#HelveticaNeueLTCom-UltLt") format("svg");
    font-weight: $fw-regular;
    font-style: normal;
}

@font-face {
    font-family: $ff-TimesNow;
    src: url("/fonts/TimesNow-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TimesNow-ExtraLightItalic.otf") format("opentype"),
    url("/fonts/TimesNow-ExtraLightItalic.woff") format("woff"),
    url("/fonts/TimesNow-ExtraLightItalic.ttf") format("truetype"),
    url("/fonts/TimesNow-ExtraLightItalic.svg#TimesNow-ExtraLightItalic") format("svg");
    font-weight: $fw-regular;
    font-style: italic;
}


@font-face {
    font-family: $ff-Helvetica;
    src: url('/fonts/HelveticaNeueLTCom-Th.eot?#iefix') format('embedded-opentype'),
    url('/fonts/HelveticaNeueLTCom-Th.woff') format('woff'),
    url('/fonts/HelveticaNeueLTCom-Th.ttf') format('truetype'),
    url('/fonts/HelveticaNeueLTCom-Th.svg#HelveticaNeueLTCom-Th') format('svg');
    font-weight: $fw-thin; // 100
    font-style: normal;
}


@font-face {
    font-family: $ff-Helvetica;
    src: url("/fonts/HelveticaNeueLTCom-Lt.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaNeueLTCom-Lt.woff") format("woff"),
    url("/fonts/HelveticaNeueLTCom-Lt.ttf") format("truetype"),
    url("/fonts/HelveticaNeueLTCom-Lt.svg#HelveticaNeueLTCom-Lt") format("svg");
    font-weight: $fw-regular; // it's the "light" version of Helvetica but it matches the normal style on the styleguide
    font-style: normal;
}

@font-face {
    font-family: $ff-Helvetica;
    src: url("/fonts/HelveticaNeueLTCom-Md.eot?#iefix") format("embedded-opentype"),
    url("/fonts/HelveticaNeueLTCom-Md.woff") format("woff"),
    url("/fonts/HelveticaNeueLTCom-Md.ttf") format("truetype"),
    url("/fonts/HelveticaNeueLTCom-Md.svg#HelveticaNeueLTCom-Md") format("svg");
    font-weight: $fw-bold; // it's the "medium" version of Helvetica but it matches the bold style on the styleguide
    font-style: normal;
}

