// - F O N T - F A M I L L Y - - - - - - - - - - - - - - - - - - - - - - - - - - -
$ff-TimesNow: "TimesNow-ExtraLightItalic";

$ff-Helvetica-UltLt: "HelveticaNeueLTCom-UltLt";
$ff-Helvetica: "HelveticaNeueLTCom";

// - F O N T - W E I G H T - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$fw-thin: 100;
$fw-regular: 400;
$fw-bold: 700;